.clan-details-header {
    position: relative;
    width: calc(100% - 72px);
    padding: 18px 36px 0px 36px;
    color: var(--white);
}

.clan-name-container {
    display: flex;
    flex-direction: row;
}

.clan-name {
    font-size: 3rem;
}

.clan-tag {
    margin-left: 9px;
    font-size: 2rem;
    font-weight: 100;
}

.month-dropdown {
    width: 160px;
    position: absolute;
    right: 36px;
    background-color: var(--black);
    cursor: pointer;
}
.month-dropdown>.Dropdown-control {
    padding: 12px;
    border: 1px solid var(--white);
}
.month-dropdown>.Dropdown-menu {
    padding: 12px;
    border: 1px solid var(--white);
}