.clan-details-header {
    position: relative;
    top: 0px;
    width: calc(100% - 72px);
    padding: 18px 36px 16px 36px;
    color: var(--white);
    border-bottom: 1px solid #fff;
}

.clan-name-container {
    display: flex;
    flex-direction: row;
}

.clan-name {
    font-size: 3rem;
}

.clan-tag {
    margin-left: 9px;
    font-size: 2rem;
    font-weight: 100;
}

.page-nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-switcher {
    font-size: 1.2rem;
    font-weight: 100;
    margin-right: 16px;
    cursor: pointer;
}

.page-switcher-active {
    border-bottom: 2px solid #fff;
}

.month-dropdown {
    width: 160px;
    position: absolute;
    right: 36px;
    background-color: var(--black);
    cursor: pointer;
}
.month-dropdown>.Dropdown-control {
    padding: 12px;
    border: 1px solid var(--white);
}
.month-dropdown>.Dropdown-menu {
    padding: 12px;
    border: 1px solid var(--white);
}