.clan-stats-content {
    height: calc(100% - 210px);
    margin: 36px 36px 0px 36px;
}

.filter-bar {
    display: flex;
    flex-direction: row;
}

.stat-dropdown {
    min-width: 160px;
    height: 45px;
    margin-right: 16px;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
    z-index: 1000;
}
.stat-dropdown>.Dropdown-control {
    padding: 12px;
    border: 1px solid var(--white);
}
.stat-dropdown>.Dropdown-menu {
    overflow-y: auto;
    max-height: 400px;
    padding: 12px;
    background-color: var(--black);
    border: 1px solid var(--white);
}

.stats-table-content {
    width: 400px;
    height: 560px;
    margin: 36px 0px 36px 0px;
    overflow-y: auto;
    background-color: #000000cc;
}