.home {
    height: 100vh;
}

.home-content {
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title {
    font-size: 70px;
    color: var(--white);
}

.home-subtitle {
    font-size: 24px;
    font-weight: 100;
    color: var(--white);
    opacity: 0.75;
    margin-bottom: 40px;
}

.search-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-field {
    width: 620px;
    height: 50px;
    border: solid 1px var(--white);
    color: var(--white);
    background-color: var(--onyx);
    text-align: center;
    font-size: 18px;
}

.press-enter {
    font-size: 14px;
    color: var(--white);
    margin-top: 8px;
}