.home {
    height: 100vh;
    background-image: url(../images/backgrounds/AllClasses-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.search-field {
    width: 360px;
    height: 50px;
    position: absolute;
    top: 45%;
    left: 15%;
    border: solid 1px var(--white);
    color: var(--white);
    background-color: var(--onyx);
    text-align: center;
    font-size: 18px;
}